<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.elderlycare.dao.DatasDAOImpl">

<insert id = "log" parameterType = "com.spring.elderlycare.dto.DatasDTO">
	INSERT INTO realtimedata (elderly, humid, temp)
	VALUES(#{elderly}, #{humid}, #{temp});
</insert>
</mapper>